*{
    padding: 0;
    margin: 0;
    font-size: 28px;
}

body {
    background-color: rgb(219, 192, 166)
}
a{
  text-decoration: none;
  color: black;
}

/* Navbar */
#navbar{
padding: 10px;
margin:auto;
top: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
position: sticky;
background-color: rgb(196, 164, 132);
}

#navbar h5{
    display: block;
    font-size: 24px;
    font-family: monospace;
    font-weight:light;
    color: black;
}

#navbar div a
{
    font-family: monospace;
    font-size: 20px;
    font-weight: 100;
    margin-right:15px;
}

#navbar div a:hover{
 color: rgb(95, 71, 41);
}

#navbar div i{
    padding: 3px 10px;
    color: black;
    border:none;
    font-size: 30px;
    border-radius: 10px;
}

/* landing */
.landing
{
    display: grid;
    grid-template-columns: auto auto;
    height: 100vh;
    width: 90vw;
    margin: auto;
    align-items: center;
    justify-content: space-around;
}

.landing div{
    width: 45vw;
}

.landing .right{
    border-radius: 100px;
    text-align: center;
    background-color: rgb(196, 164, 132)
}

.landing h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
}

.landing p{
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: monospace;
    font-size: 20px;
    font-weight: 100 px;
    font-style: italic;
}

.landing button{
    border: black;
    background-color: white;
    border-radius: 20px;
    color: black;
    padding: 5px 15px;
    font-family: monospace;
    font-size: 18px;
}

.landing button:hover{
background-color: rgb(179, 145, 103);
border-radius: 20px;
}

.landing img{
    height: 65vh;
}


/* footer */
.footer{
    background-color: rgb(196, 164, 132);
    color: black;
    padding: 20px;
    text-align: center;
    justify-content: space-evenly;
}

.footer div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:10px;
}

.footer a{
    color: black;
    font-family: monospace;
    font-size: 20px;
}

.footer p {
    font-family: monospace;
    font-size: 24px;
    font-weight: 600;
}

.footer a:hover{
    color: rgb(95, 71, 41);
}

.homepage
{
    display: grid;
    grid-template-columns: auto auto;
    height: 100vh;
    width: 90vw;
    margin: auto;
    align-items: center;
    justify-content: space-around;
}

.homepage div{
    width: 45vw;
}

.homepage .right{
    border-radius: 100px;
    text-align: center;
    background-color: rgb(196, 164, 132)
    
}

.homepage h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
}

.homepage p{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 8px;
    font-family: monospace;
    font-size: 20px;
    font-weight: 100 px;
}

.skills h3 {
    text-align: center;
}

.skills div {
    padding: 10px;
    width: 90vw;
    margin:auto;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.skills div p {
    font-family: monospace;
    font-size: 25px;
    font-weight: 600;
}

.listing div {
    padding: 10px;
    width: 90vw;
    margin:auto;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.listing div p {
    font-family: monospace;
    font-size: 20px;
}

.projects div {
    padding: 10px;
    width: 90vw;
    margin:auto;
    top: 0;
}

.projects h3 {
    text-align: center;
}

.projects p {
    font-family: monospace;
    font-size: 20px;
}

.paragraph div {
    padding: 10px;
    width: 90vw;
    margin:auto;
    top: 0;
}
.canva div {
    width: 200px;
    height: 300px;
}

.canva {
    padding: 10px;
    width: 90vw;
    margin:auto;
    top: 0;
    display: flex;
}

.canva img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 20px;
}

.git {
   text-align: center;
}

.short p {
    text-align: center;
    font-family: monospace;
    font-size: 17px;
    font-style: italic;
}

.links p {
    text-align: center;
    font-family: monospace;
}

.links a {
    font-size: 20px;
}

.links a:hover{
    color: rgb(95, 71, 41);
   }
   

.homepage button{
    border: black;
    background-color: white;
    border-radius: 20px;
    color: black;
    padding: 5px 15px;
    font-family: monospace;
    font-size: 18px;
}

.homepage button:hover{
    background-color: rgb(179, 145, 103);
    border-radius: 20px;
}

.homepage img {
    height: 65vh;
}

.form {
    text-align: center;
    font-family: monospace;
}

.form label {
    font-size: 20px;
}

.form p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
}

.contact {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.contact p {
    font-size: 25px;
    font-weight: 570;
}

#name {
    text-align: center;
    font-family: monospace;
    border-radius: 20px;
}

#email {
    text-align: center;
    font-family: monospace;
    border-radius: 20px;
}

.account {
    text-align: center;
    font-family: 'Times New Roman', Times, serif; 
}

.account p {
    font-size: 25px;
    font-weight: 570;
}

.label {
    text-align: center;
    font-family: monospace;
}

.label label {
    font-size: 20px;
}

.refer {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.refer p {
    font-size: 25px;
    font-weight: 570;
}

.text {
    text-align: center;
    font-family: monospace;
    font-size: 18px;
}

.text label {
    font-size: 20px;
}

#bio {
    border-radius: 20px;
    background-color: rgb(179, 145, 103);
    border-bottom: 10vh;
}

.submit {
    text-align: center;
}

.text button{
    border: black;
    background-color: white;
    border-radius: 20px;
    color: black;
    padding: 5px 15px;
    font-family: monospace;
    font-size: 20px;
}

.text button:hover{
    background-color: rgb(179, 145, 103);
    border-radius: 20px;
}

